{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "codeFrame": false
  },
  "rules": {
    "no-unused-vars": 0,
    "no-param-reassign": 0,
    "block-scoped-var": 0,
    "no-useless-escape": 0,
    "vars-on-top": 0,
    "prefer-template": 0,
    "no-shadow": 0,
    "guard-for-in": 0
  }
}
